*{
    box-sizing: border-box;
}
body{
    background-color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(../image/main.png);
    margin: 1rem;
}

section{
    padding: 1rem;
}

li{
    list-style-type: none;
    align-items: center;
    margin: 10px;
}


.nav-item li{
    float: left;
    text-decoration: none;
}
